* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: rgb(27, 36, 47);
}

body {
  font-family: "Space Grotesk", monospace, sans-serif;
  max-width: 960px;
  margin: 10rem auto;
}

header {
  display: flex;
  justify-content: center;
}

button {
  font-family: "Space Grotesk", monospace;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
}

button:hover {
  background-color: rgb(208, 204, 204);
  color: rgb(48, 116, 85);
  box-shadow: 0.2rem 0.11rem 1rem rgb(136, 205, 93);
}

.row-1{
  display: flex;
  justify-content: space-evenly;
}

.about-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-right: 2rem;
  margin: 5rem 0;
}

.row-3{
  text-align: center;
}
.main-icons {
  width: 20rem;
  margin: 1rem;
}

/* .glass-effect {
  background: linear-gradient(
    10deg,
    rgba(186, 232, 211, 0.102),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 8 rgb(19, 2, 106);
  border: 1px solid rgba(33, 30, 30, 0.518);
  border-radius: 10px;
} */

.round {
  border-radius: 50%;
}

.profile-pic {
  width: 20rem;
  border-radius: 20rem;
  border: 0.2rem solid rgb(132, 173, 189);
  box-shadow: 0.1rem 0.1rem 10rem 1rem rgb(131, 188, 189);
}

.icon-text {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-shadow: 0.6rem 0.4rem 1.1rem rgb(69, 181, 179);
}

/* PROJECT CARD SECTION */
.proj-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  overflow-x: auto;
  margin: 3rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  flex: 1 0 300px;
  max-width: 300px;
  background-color: rgb(47, 84, 101);
  border: 1px solid rgba(203, 228, 252, 0.759);
  border-radius: 12px;
}

.card-header {
  margin-bottom: 1rem;
  border-radius: 8px 8px 0px 0px;
}

.card-header,
.card-footer {
  background-color: rgb(54, 125, 112);
}

.card-footer {
  border-radius: 0px 0px 8px 8px;
  justify-content: center;
}

.card-title {
  display: flex;
  justify-content: center;
  color: rgb(190, 199, 203);
  font-size: 20px;
  font-weight: 300;
  padding: 8px;
}

.card-image {
  height: 230px;
  margin: 0rem 0.5rem 0rem 0.5rem;
  border: 1px solid rgb(234, 234, 230);
}

.card-desc {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;
  margin: 2rem;
  height: 120px;
  color: rgb(208, 204, 204);
}

.card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  color: white;
  line-height: 1rem;
}

.card-icons {
  width: 5rem;
  padding: 1rem;
}

.icon-desc {
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

.main-icons:hover,
.profile-pic:hover {
  cursor: pointer;
  width: 21rem;
  transition: 0.2s;
  transition: width .2s;
}

.card-footer:hover {
  background: rgba(98, 179, 246, 0.534);
}

.card-icons:hover {
  transform: skew(175deg);
  width: 5.5rem;
}

.about-me{
  max-width: 80%;
  margin: 1rem auto;
  padding: 4rem;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
}

li {
  margin: 2rem 4rem;
}

.about-header{
  margin: 0 0 5rem 2rem;
}

span{
  background-color: rgba(104, 134, 120, 0.611);
  padding: 2rem;
  border-radius: 50%;
}

.resume-link{
  text-align: center;
  margin-top: 5rem;
  font-size: 2.3rem;
  color: rgb(223, 247, 240);
}

.resume-link:hover{
  font-size:2.5rem;
  text-shadow: .4rem .4rem 1rem rgb(171, 171, 204);
}

a{
  text-decoration: none;
}
