*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  background: rgb(33, 57, 57);
}

body{
  font-family: 'Space Grotesk', monospace, sans-serif;
  max-width: 960px;
  margin: 5rem auto;
}

.row{
  /* padding: 1rem; */
}

.icon-row{
  display: flex;
  justify-content: space-evenly;
}

.row-1{
  margin-left: 4rem;
}

.row-3{
  /* margin-left: 3rem; */
}

.about-row{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-right: 2rem;
}

.main-icons{
  width: 20rem;
  margin: 1rem;
}

.glass-effect{
  background: linear-gradient(10deg, rgba(186, 232, 211, 0.102), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 8 rgb(19, 2, 106);
  border: 1px solid rgba(33, 30, 30, 0.518);
  border-radius: 10px;
}

.round{
  border-radius: 50%;
}

.profile-pic{
  margin: 0;
  padding: 0;
  width: 21rem;
  border-radius: 20rem;
  border: .2rem solid rgb(132, 173, 189);
  box-shadow: .1rem .1rem 10rem 1rem rgb(131, 188, 189);
}

.icon-text{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-shadow: .6rem .4rem 1.1rem rgb(69, 181, 114);
}

/* PROJECT CARD SECTION */
.proj-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  overflow-x: auto;
  margin: 3rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  flex: 1 0 300px;
  max-width: 300px;
  background-color: rgb(47, 84, 101);
  border: 1px solid rgba(203, 228, 252, 0.759);
  border-radius: 12px;
}

.card-header {
  margin-bottom: 1rem;
  border-radius: 8px 8px 0px 0px;
}

.card-header,
.card-footer {
  background-color: rgb(54, 125, 112);
}

.card-footer {
  border-radius: 0px 0px 8px 8px;
  justify-content: center;
}

.card-title {
  display: flex;
  justify-content: center;
  color: rgb(190, 199, 203);
  font-size: 20px;
  font-weight: 300;
  padding: 8px;
}

.card-image {
  height: 230px;
  margin: 0rem 0.5rem 0rem 0.5rem;
  border: 1px solid rgb(234, 234, 230);
}

.card-desc {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;
  margin: 2rem;
  height: 120px;
  color: rgb(208, 204, 204);
}

.card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  color: white;
  line-height: 1rem;
}

.card-icons{
  width: 5rem;
  padding: 1rem;
}

.icon-desc{
  font-size: 1.2rem;
  
}

.hidden{
  display: none;
}

.main-icons:hover{
  cursor: pointer;
  width: 21rem;
}

.card-footer:hover{
  background:rgba(98, 179, 246, 0.534);
}

.card-icons:hover{
  transform: skew(175deg);
  width: 5.5rem;
}


.test{
  border: 1rem solid black;
  color: red;
  font-size: 2rem;
}